- ► Age Requirement:
— All players characters must be 17+ and players must be 13+

- ► Toxicity and Bullying:
— No toxic behavior or bullying in this server. We are looking for a safe place for people to have a good time. 
  If this happens it will result in timeout's or ban's.


- ► Derogatory Remarks:
— Any negative remarks towards race, religion, sexual preference, orientation, gender identity, etc. 
  Any of this will result in a ban or timeout. 


- ► Contacting Staff:
— Please use relevant channels before contacting any staff. Ask before sending a DM to them via the channels.

- ► Exploiting:
— Exploiting in any way, shape, or form with result in government Action.


For More Rules Join Our Discord!!!
